##############################
## Folders                  ##
##############################
target
 
##############################
## Netbeans conf            ##
##############################
configuration.xml
actions.xml